<head>
    <link rel="stylesheet" type="text/css" href="./css/style.css" />
</head>

<body align="center">
    <h1>Visualise your exercise</h1>
    <p>{{message}}</p>
    <div>
        <form class="" action="/" method="post">
            <input type="submit" class="button"name="logIn" value="Login">
        </form>
    </div>



</body>
