<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <link rel="icon" href="../v.jpeg">
</head>

<body class="landingBody">
  <div class="welcomeDiv">
    <h1>Visualise your exercise</h1>
    <p class="welcomeMsg">{{message}}</p>
        <form class="" action="/" method="post">
            <input type="submit" class="button" name="logIn" value="Login">
        </form>
  </div>



</body>
