body {
  font-family: monospace;
}

.landingBody {
  background-image: url('../workin-out.jpg');
  background-color: rgba(100,150,80,0.5);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:cover;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.welcomeDiv {
  text-align: center;
  border-radius: 300px;
  width: 35%;
  background-color: rgba(155, 250, 180, 0.85);
  margin: 250px auto;
  padding-bottom: 30px;
  padding-top: 30px;
}

.submit{
  margin-bottom: 20px;
}

.welcomeMsg {
  font-size: 15px;
}

.tableSize{
  width: 70%;
}

.date{
  background-color: rgba(180,120,200,0.3);
  padding-left: 40px;
  margin-left: -40px;
}

.tableHeader{
  background-color: rgba(120,200,30,0.8);
}

.userHeader{
  background-color: rgba(100,150,80,0.5);
  padding-left: 40px;
  margin-left: -40px;
}

tr.row{
  height:10px;
}

.userBody{
  padding-left: 40px;
  background-color: rgba(155, 250, 180, 0.85);
}

.green{
  background-color: green;
}

.runs{
  background-color: rgb(169,169,169);
}

.rides{
  background-color: rgb(105,105,105);
}
